<div class="navbar navbar-expand-lg navbar-light bg-light mt-3">
    <input class="form-control mr-sm-2" type="text" placeholder="Search Movie" name = "txMovieName" (keyup) = "searchMovieByName(txMovieName.value)" #txMovieName>
    <div class="dropdown">
        <a class="btn btn-light dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Year
        </a>
      
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" href="#">1980</a>
          <a class="dropdown-item" href="#">1981</a>
          <a class="dropdown-item" href="#">1982</a>
        </div>
      </div>
</div>